.events {
  justify-content: center;
  height: 300px;
  width: 80vw;
  margin: auto;
  border: solid black 1px;
  overflow: hidden;
  object-fit: cover;
  padding-top: auto;
}

.events-slider {
  position: relative;
  margin: 0 auto;
}

.events-wrapper {
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  transition: 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  left: 0;
}

.next {
  height: 200px;
  width: 50px;
  float: right;
  right: 5%;
  position: absolute;
  margin: 0;
  z-index: 1;
  cursor: pointer;
}

.previous {
  height: 200px;
  position: absolute;
  width: 50px;
  float: left;
  left: 5%;
  margin: 0;
  z-index: 1;
  cursor: pointer;
}
