.venues {
  height: 300px;
  width: 80vw;
  border: solid black 1px;
  margin: auto;
  overflow: hidden;
  object-fit: cover;
}

.venues > ul li {
  display: inline-block;
  margin: 5px;
}

.venues-slider {
  position: relative;
}

.venues-wrapper {
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  transition: 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  left: 0;
}

#next {
  height: 300px;
  width: 75px;
  position: absolute;
  float: right;
  cursor: pointer;
  right: 0;
  border: 0;
  opacity: 0;
  background: rgba(150, 200, 150, 0);
  margin: 0;
  z-index: 1;
  transition: 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#next:focus {
  outline: 0;
}

#previous {
  height: 300px;
  position: absolute;
  float: left;
  width: 75px;
  background: rgba(150, 200, 150, 0);
  border: 0;
  opacity: 0;
  left: 0;
  margin: 0;
  z-index: 1;
  cursor: pointer;
  transition: 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#previous:focus {
  outline: 0;
}

#next:hover {
  opacity: 1;
  transition: 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  background: rgba(150, 200, 150, 0.75);
}

#previous:hover {
  background: rgba(150, 200, 150, 0.75);
  opacity: 1;
  transition: 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
