.part-wrapper {
  height: 50px;
  width: 225px;
  border: solid 1px black;
  margin: 5px;
  float: left;
  position: relative;
  left: 0;
}

.part-image-wrapper {
  height: 50px;
  width: 50px;
  overflow: hidden;
  object-fit: contain;
  float: left;
  margin-top: auto;
  margin-bottom: auto;
  left: 0;
  position: relative;
}

.part-image-wrapper > img {
  height: auto;
  width: 50px;
}

.part-text-wrapper {
  position: relative;
  text-align: center;
  float: left;
  margin-left: 5px;
  text-align: left;
  overflow: hidden;
}

.part-text-wrapper span {
  list-style-type: none;
  font-size: small;
}

.part-text-wrapper > ul li {
  list-style-type: none;
  font-size: small;
}

.remove-part {
  height: 30px;
  width: 30px;
  position: relative;
  float: right;
  right: 5px;
  top: 10px;
  color: white;
  border-radius: 15px;
}
