.resultBox {
  height: 250px;
  width: 200px;
  border: 1px solid black;
  margin: 5px;
}

.image-wrapper img {
  width: 200px;
  height: auto;
}

.add {
  border-radius: 6px;
  background: green;
  height: 30px;
  width: 30px;
  color: white;
  margin: 0;
  border: none;
  text-align: center;
}

.remove {
  border-radius: 6px;
  background: red;
  height: 30px;
  width: 30px;
  color: white;
  margin: 0;
  border: none;
  text-align: center;
}

.image-wrapper {
  width: 200px;
  height: 100px;
  overflow: hidden;
  position: relative;
  object-fit: cover;
  text-align: center;
}
