.resultBox {
  height: 250px;
  width: 200px;
  border: 1px solid black;
  margin: 5px;
  overflow: hidden;
}

.image-wrapper img {
  width: 200px;
  height: auto;
}

.add {
  border-radius: 6px;
  position: absolute;
  background: green;
  height: 30px;
  width: 30px;
  color: white;
  margin: 0;
  float: right;
  /* right: 5px; */
  border: none;
  text-align: center;
  top: 90px;
  z-index: 1;
}

.remove {
  border-radius: 6px;
  background: red;
  position: absolute;
  float: right;
  /* right: 5px; */
  height: 30px;
  width: 30px;
  color: white;
  margin: 0;
  border: none;
  text-align: center;
  top: 90px;
  z-index: 1;
  top: 100px;
}

.image-wrapper {
  width: 200px;
  height: 100px;
  overflow: hidden;
  position: absolute;
  object-fit: cover;
  text-align: center;
}
