.resultBox {
  height: 250px;
  width: 200px;
  margin: 5px;
  cursor: pointer;
  overflow: hidden;
  transition: transform 1s;
  animation-name: enter;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  perspective: 1000px;
}

@keyframes enter {
  from {
    opacity: 0;
    top: -300px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}

.result-inner {
  height: 100%;
  border: 1px solid black;
  width: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.result-front,
.result-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.result-back {
  transform: rotateY(180deg);
  background: white;
}

.flip .result-inner {
  transform: rotateY(180deg);
  transition: transform 1s;
}

.image-wrapper img {
  width: 200px;
  height: auto;
}

.add {
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  background: green;
  height: 30px;
  width: 30px;
  color: white;
  margin: 0;
  float: right;
  right: 5px;
  border: none;
  text-align: center;
  top: 85px;
  z-index: 1;
}

.remove {
  border-radius: 6px;
  background: red;
  position: relative;
  float: right;
  cursor: pointer;
  right: 5px;
  height: 30px;
  width: 30px;
  color: white;
  margin: 0;
  border: none;
  text-align: center;
  z-index: 1;
  top: 85px;
}

.image-wrapper {
  width: 200px;
  height: 100px;
  overflow: hidden;
  position: absolute;
  object-fit: cover;
  text-align: center;
}

.text-wrapper {
  position: relative;
  top: 100px;
  overflow: hidden;
}

.text-wrapper > ul li {
  list-style-type: none;
}
