.parts-box {
  float: right;
  right: 0;
  position: relative;
  border: solid 1px black;
  height: 50px;
  width: 50px;
  cursor: pointer;
  z-index: 1;
}

.parts-wrapper {
  text-align: left;
  justify-content: left;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  float: left;
  left: 5px;
  padding: 0;
}
.parts-notifications {
  background: red;
  color: white;
  height: 30px;
  width: 40px;
  border-radius: 20px;
  text-align: center;
}

.parts-dropdown {
  height: 300px;
  top: 52px;
  position: absolute;
  width: 250px;
  border: 1px solid black;
  float: right;
  right: 0;
  overflow-y: scroll;
  direction: rtl;
}

.parts-wrapper > ul li {
  list-style: none;
  transition: 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0;
}

.parts-wrapper > ul .show {
  opacity: 1;
  transition: 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
